.close-button {
    background-color: #f44336; /* Red background */
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    width: 25px;              /* Width of the button */
    height: 25px;             /* Height of the button */
    cursor: pointer;          /* Cursor changes to hand pointer on hover */
    transition: background-color 0.3s; /* Smooth color change on hover */
}
/* Base styles for control buttons */
.label-button {
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    height: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #fbc02d;  /* Yellow background */ */
    color: white;
}

.close-button:hover {
    background-color: #e62817; /* Darker red when hovered */
}

.label-button:hover {
    background-color: #388e3c;  /* Darker green on hover */
}
.model-search-form {
  margin-top: 10px;
  margin-bottom: 10px;

}
.search-div {
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-div > input {
  margin-left: 10px;
  margin-right: 10px;
}
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  borderRadius: 5px;
  width: 400px;
  boxShadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .error {
    margin-top: 0;
    background: #c7a3a3;
    width: 300px;
  }
}
.notification {
  position: fixed;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
  background: #e8e3c1;
  padding: 5px;
  border: 1px solid #ccc;
  borderRadius: 5px;
  width: 200px;
  color: #545453;
  boxShadow: 0 0 10px rgba(0, 0, 0, 0.1);
  .error {
    background: #c7a3a3;
  }
  .info {
    background: #c7a3a3;
  }
}

.search-inner-dialog {
  margin-top: 10px;
  padding: 10px;
  background: borer-box #f0f0f0;
}
.scroll-div {
  margin-top: 10px;
  padding: 10px;
  background: borer-box #f0f0f0;
  overflow-y: scroll;
  height: 100px;
}
.floating-menu {
  position:absolute;
  z-index:1000;
  background: #f9f9f9;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #ccc;
}


/* Layout */
body: {
  padding: 0;
  margin: 0;
}

.container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    width: 100%;
    padding: 20px;
}

.main-content {
    flex: 9; /* This column will take up 3 parts of the available space */
    padding: 5px;
    border-right: 1px solid #ccc;
}

.menu-icons {
    flex: 1; /* This column will take up 1 part of the available space */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Gap between icons */
}

/* Styling for menu icons (you can replace these with actual icons) */
.icon {
    padding: 5px;
    width: 80px;
    height: 40px;
    /*background-color: #ddd;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}
